*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}
.content{
  height:80vh;
}
.navbar{
  background-color:blue !important;
}
.register-page
{
  display:flex;
  justify-content:center;
  align-items:center;
  height:90vh;
  
}
.login-page
{
  display:flex;
  justify-content:center;
  align-items:center;
  height:90vh;
  
}