*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}
.content{
  height:80vh;
}
.navbar{
  background-color:blue !important;
}
.register-page
{
  display:flex;
  justify-content:center;
  align-items:center;
  height:90vh;
  
}
.login-page
{
  display:flex;
  justify-content:center;
  align-items:center;
  height:90vh;
  
}
.filters{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px;
  box-shadow: 0 0 3px gray;
}
.switch-icons{
  border: 1px solid black;
  border-radius:5px;
  padding:5px;
}
.anticon svg{
  font-size:20px;
  cursor: pointer;
}
.active-icon{
  color:blue;
}
.inactive-icon{
  color:gray;
}